
*, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    background: linear-gradient( 90deg, #000000, #000000,#6a0c0c)

}
nav {
    background-color:white;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}

nav ul{
    display: flex;
    align-items: center;
    gap: 2rem 4rem;
    list-style: none;

}

nav ul li a {
    width: 50px;
    height: 50px;
    text-decoration: none;
    font-family: 'Segoe UI',sans-serif;
    color: black;
    font-weight: 500;
    padding: 8px 0;
    transition: all;
    transition-duration: 300ms;
    border-bottom: rgba(0, 0, 0, 0);
}

nav ul li a:hover {
    color: black;
    border-bottom: 2px solid black;
}

.sleder-wrapper {
    position: relative;
    max-width: 48rem;
    margin: 0 auto;
}
.slider {
    display: flex;
    aspect-ratio: 16 / 9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25%);
    border-radius: 0.5rem;
}
.slider img {
        flex: 1 0 100%;
        scroll-snap-align: start;
        object-fit: cover;
}
.slider nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
}
.slider-nav a{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
}
.slider-nav a:hover {
    opacity: 1;
}

.card-container img {
width: 1260px ;
object-fit: cover;
border-radius: 5px;
}